<section class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cheeseburger">Coffee</a></li>
    <li><a href="/cupcake">Cupcake</a></li>
    <li><a href="/bacon">Bacon</a></li>
  </ul>
