<section class="nav">
  <ul>
    <li <% if (name === 'home') { %>class="current" <% } %> ><a href="/">Home</a></li>
    <li <% if (name === 'cheeseburger') { %>class="current" <% } %> ><a href="/cheeseburger">Coffee</a></li>
    <li <% if (name === 'cupcake') { %>class="current" <% } %> ><a href="/cupcake">Cupcake</a></li>
    <li <% if (name === 'bacon') { %>class="current" <% } %> ><a href="/bacon">Bacon</a></li>
    <li <% if (name === 'gallery') { %>class="current" <% } %> ><a href="/gallery">Gallery</a></li>
  </ul>
</section>
