<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/header') %>
<section class=content>
  <p> get hungry with this collection of tasty ipsums </p>

</section>

<%- include('partials/footer') %>
